.tw-card{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-card-header{
display: flex;
align-items: center;
gap: 4px;
}

.tw-card-avatar{
border-radius: 50%;
height: 40px;
width: 40px;
}

.tw-card-info{
display: flex;
flex-direction: column;
}

.tw-card-userName{
opacity: .6;
}

.tw-card-button{
    cursor: pointer;
    margin-left: 16px;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease  background-color ;
}

.tw-card-button:hover {
    opacity: .8;
}

.tw-card-text{
    display: block;
}

.tw-card-button.is-following{
    border: 1px solid rgba(103, 97, 97, 0.656);
    background: transparent;
    color: white;
    width: 140px;
}

.tw-card-button.is-following:hover {
    background:  rgba(235, 4, 4, 0.195);
    color: red;
    border:  solid 1px red;
    transition: .3s ease all ;
    opacity: 1;
}

.tw-card-button.is-following:hover .tw-card-text{
    display: none;
}

.tw-card-button.is-following:hover .tw-card-unfollow{
    display: block;
}

.tw-card-unfollow{
    display: none;
}